
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />


    <body id="page-top">
        <!-- Navegacion-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" [routerLink]="['/inicio']">SINESTESIA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/registro']" >Registarse</a></li>
                        <li class="nav-item"><a class="nav-link" [routerLink]="['/inicioSesion']" >Iniciar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                  
 
                    <h2 class="masthead-heading mb-0">PRUEBA</h2>
                    <h3 class="masthead-heading mb-0">SINESTESIA</h3>
                    <a class="btn btn-light btn-xl rounded-pill mt-5" [routerLink]="['/registro']" >Únete</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!--descripcion de sinestesia-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
          
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h1 >Siéntate y Disfruta</h1>
                            <h2>Sinestsia es un reproductor de música gratuito con miles de canciones a su disposición.</h2>                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
  

