<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet" />


<div class="card">
    <div class="card-body">
        <h1><a routerLink="" class="link">salir</a>
            <h2>PANEL DE CONTROL</h2>
        </h1>



        <h2>Bienvenido {{nombre}}</h2>
        <h2>Eres un administrador de tipo {{tipo}}</h2>
        <hr>
        <div class="row">
            <div class="col">
                <h2>usuarios</h2>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngIf="hayUsuarios; else elseBlock"></div>
                        <tr *ngFor="let usuario of usuarios">


                            <td>{{usuario[0]}}</td>
                            <td>{{usuario[2]}}</td>
                            <td>{{usuario[1]}}</td>
                            <td>
                                <button style="background-color:white; color:black;" (click)="borrarUsu(usuario[0])">borrar</button>
                            </td>
                        </tr>

                        <ng-template #elseBlock>
                            <br>
                          <h1>No hay usuarios o no tienes permiso para verles.</h1>  
                        </ng-template>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="col">
                <h2>Canciones</h2>
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cancion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div *ngIf="hayCanciones; else noCanciones"></div>
                            <tr *ngFor="let cancion of canciones">

                                <td>{{cancion[0]}}</td>
                                <td>{{cancion[1]}}</td>
                                <td>
                                    <audio src="{{urlCanciones}}{{cancion[2]}}" controls></audio>
                                <td>
                                    <button  (click)="borrarCan(cancion[0])">borrar</button>
                                </td>
                                <td>
                                    <button  (click)="autorizar(cancion[0])">autorizar</button>
                                </td>
                            </tr>
                        
                        <ng-template #noCanciones>
                            <br>
                            <h1>
                                No hay canciones o no tienes permiso para verlas.
                            </h1>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            </div>

        </div>
    </div>

</div>