<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet" />


<div class="card general" style="background-color:{{colorFondo}}; color: {{colorLetra}};font-size: {{tamanno}};">
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-xl-2">
                <h2>Busqueda:</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-xl-8 centro">
                <input type="text" class="form-control" id="nombreAlbum" [(ngModel)]="busqueda"
                    placeholder="busca tu canción,artista o album favorito">
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-xl-2">
                <button (click)="buscar()" style="background-color:{{colorLetra}}; color: {{colorFondo}}"
                    class="boton">buscar</button>
            </div>
        </div>
        <hr>
        <!--Apartado si le ha dado al boton de buscar-->
        <div *ngIf="buscado; else noBucado">

            Content to render when condition is true.


        </div>
        <ng-template #noBucado>
            <!--Apartado si no le ha dado al boton de buscar-->


            <div class="row">
                <!--Nuevas canciones-->
                <h1>Nuevas canciones</h1>


                <div class="table-responsive">
                    <table class="table table-hover" style="color: {{colorLetra}} ;">
                        <thead>
                            <tr>
                                <th scope="col">Caratula</th>
                                <th scope="col">nombre</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let cancion of cancionesNuevas">

                                <!--Metodos para pasar al padre-->
                                <th scope="row" (click)="sacarCancion(cancion[2])" (click)="pasarTitulo(cancion[1])"
                                    (click)="pasarCaratula(cancion[3])">

                                    <img class="cancion" src="{{urlFotos}}{{cancion[3]}}">
                                </th>

                                <td>
                                    <h2>{{cancion[1]}}</h2>
                                </td>
                                <td>
                                    <button (click)="AnnadirPlaylist(cancion[0])" style="background-color:{{colorLetra}}; color: {{colorFondo}};">Añadir a
                                        playlist</button>

                                </td>
                                <div *ngIf="seleccionado; else noSeleccionado">
                                    <td>
                                        <select (change)="seleccionarPlaylist($event)">
                                            <option value="">Escoge una de tus playList</option>
                                            <option *ngFor="let playlist of playlists" value="{{playlist[0]}}">{{playlist[1]}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button (click)="annadirCan()"style="background-color:{{colorLetra}}; color: {{colorFondo}};">Añadir</button>
                                    </td>
                                </div>
                                
                                <ng-template #noSeleccionado></ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="row">
                <hr>
                <!--Nuevos artistas-->
                <h1>Nuevos artistas</h1>
                <div class="col-12 col-sm-12 col-md-3 col-xl-3" *ngFor="let artista of artistasNuevos">
                    <div class="card artista" style="background-color:{{colorLetra}}; color: {{colorFondo}};">
                        <div class="card-body centro">

               
                                <img class="perfil" src="{{urlFotos}}{{artista[7]}}">
                       

                            <hr>
                            <h1 class="titulo">{{artista[2]}}</h1>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <div class="row">
                <hr>
                <!--Paises-->
                <h1>Paises</h1>
            </div>

        </ng-template>

    </div>
</div>