h1{
    font-weight: 800;
    line-height: 1.2;
    font-size: 2em;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .file-input {
    display: none;
  }
  .card{
    min-height: 100vh;
  }