<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
  rel="stylesheet" />


<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 px-1 bg-dark position-fixed" id="sticky-sidebar">
      <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
        <h1 routerLink="defecto" (click)="Inicio()">SINESTESIA</h1>

        <mat-nav-list>
          <a mat-list-item routerLink="defecto" class="link" (click)="Inicio()">
            <h2>Inicio</h2>
          </a>


          <!--Si el usuario es  estandar-->
          <div *ngIf="estandar; else artsita">
            <a mat-list-item  mat-list-item routerLink="busqueda"  (click)="busqueda()">
              <h2>Buscar</h2>
            </a>
            <a  mat-list-item routerLink="listaPlayList" (click)="listaPlayList()">
              <h2>Lista de playlist</h2>
             
            </a>
            <hr>
            <a  mat-list-item routerLink="crearPlayList" (click)="crearPlayList()">
              <h2>Crear una playlist</h2>
            </a>

          </div>
          <!--Si el usuario es  artista-->
          <ng-template #artsita>
            <a mat-list-item routerLink="crearCancion" (click)="SubirCancion()">

              <h2>Subir una canción</h2>
            </a>

            <a mat-list-item routerLink="crearAlbum" (click)="CrearAlbum()">
              <h2>Crear un álbum</h2>
            </a>
            <br>
            <!--Si hay una cancion y un album se actva esta opcion-->
            <div *ngIf="albumYCancion; else noAlbumNiCancion">
              <a mat-list-item routerLink="annadirCancionesAlbum" (click)="annadirCancionesAlbum()">
                <h2>Añadir canciones a album</h2>
              </a>

            </div>
            <ng-template #noAlbumNiCancion></ng-template>


          </ng-template>


          <hr>
          <a mat-list-item routerLink="ajustes" class="link" (click)="Ajustes()">
            <h2>Ajustes</h2>
          </a>

          <a mat-list-item routerLink="" class="link">
            <h2>Salir</h2>
          </a>
        </mat-nav-list>
        <footer class="page-footer font-small blue">

          <div class="footer-copyright text-center py-3">
            <div *ngIf="hayCancion == true; else noCancion">
              <h1>{{tituloCancion}}</h1>
              <hr>
              <img class="cancion" src="{{urlFotos}}{{carutlaCancion}}">
              <audio autoplay src="{{urlCanciones}}{{cancionRepro}}" controls></audio>

            </div>
            <ng-template #noCancion></ng-template>
          </div>
        </footer>

      </div>
    </div>
    <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-9  offset-4  offset-sm-3 " id="main">
      <!--Hago un switchCase para seleccionar cual quiero que aparazaca-->
      <div [ngSwitch]="opcion">
        <div *ngSwitchCase="'inicio'">

          <!--Comunicacion entre padre e hijo con los distintos metodos-->
          <app-pagina-principal-usuario 
            (crearBotonAnnadir)="crearBotonAnnadir($event)"
            (pasarCancion)=" pasarCancion($event)" 
            (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
            (pasarTituloCancion)="pasarTituloCancion($event)" 
            (pasarIdAlbum)="pasarIdAlbum($event)"
            [nombre]="nombre">
          </app-pagina-principal-usuario>
        </div>

        <div *ngSwitchCase="'ajustes'">
          <app-ajustes [nombre]="nombre"></app-ajustes>

          <!--Artista-->

        </div>
        <div *ngSwitchCase="'subirCancion'">
          <app-crear-cancion [nombre]="nombre"></app-crear-cancion>
        </div>
        <div *ngSwitchCase="'CrearAlbum'">
          <app-crear-album [nombre]="nombre"></app-crear-album>
        </div>
        <div *ngSwitchCase="'annadirCancionesAlbum'">
          <app-annadir-canciones-album [nombre]="nombre"></app-annadir-canciones-album>
        </div>
        <!--Paso los parametros para que se pueda reproducir en la barra latral y el id del album-->

        <div *ngSwitchCase="'detalleAlbum'">
          <app-album 
          (pasarCancion)=" pasarCancion($event)" 
          (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
          (pasarTituloCancion)="pasarTituloCancion($event)"
          [nombre]="nombre" 
          [idAlbum]="idAlbum"
          ></app-album>
        </div>

        <!--Estandar-->

        <div *ngSwitchCase="'crearPlayList'">
          <app-crear-play-list [nombre]="nombre"></app-crear-play-list>
        </div>

        <div *ngSwitchCase="'listaPlayList'">
          <app-lista-play-list (pasarIdPlaylist)="pasarIdPlaylist($event)" [nombre]="nombre"></app-lista-play-list>
        </div>
       

        <div *ngSwitchCase="'detallePlaylist'">
          <app-play-list 
           [idPlaylist]="idPlaylist"[nombre]="nombre"
           (pasarCancion)=" pasarCancion($event)" 
          (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
          (pasarTituloCancion)="pasarTituloCancion($event)"
           >

          </app-play-list>
        </div>
        
        <div *ngSwitchCase="'busqueda'">
          <app-busqueda 
          (pasarCancion)=" pasarCancion($event)" 
          (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
          (pasarTituloCancion)="pasarTituloCancion($event)"
          (pasarNombreArtista)="pasarNombreArtista($event)"
          (pasarNombrePais)="pasarNombrePais($event)"
          (pasarIdAlbum)="pasarIdAlbum($event)"
          [nombre]="nombre"></app-busqueda>
        </div>
  
   

        <div *ngSwitchCase="'artista'">
          <app-artista  
          (pasarCancion)=" pasarCancion($event)" 
          (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
          (pasarTituloCancion)="pasarTituloCancion($event)"
          [nombreArtista]="nombreArtista"
          [nombre]="nombre"
          (pasarIdAlbum)="pasarIdAlbum($event)"
          ></app-artista>
        </div>


        <div *ngSwitchCase="'pais'">
          <app-pais 
          (pasarNombreArtista)="pasarNombreArtista($event)"
          [nombrePais]="nombrePais" [nombre]="nombre"></app-pais>
        </div>

        <!--Opcion por defecto-->
        <div *ngSwitchDefault>
          <app-pagina-principal-usuario 
          
          (crearBotonAnnadir)="crearBotonAnnadir($event)"
          (pasarCancion)=" pasarCancion($event)" 
          (pasarCaratulaCancion)=" pasarCaratulaCancion($event)"
          (pasarTituloCancion)="pasarTituloCancion($event)" 
          (pasarIdAlbum)="pasarIdAlbum($event)"
          [nombre]="nombre"></app-pagina-principal-usuario>

        </div>
      </div>
    </div>
  </div>
</div>