<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet" />


<div class="container-fluid ">


    <div class="card" style="background-color:{{colorFondo}}; color: {{colorLetra}};font-size: x-large ">
        <div class="card-body">


            <div class="row">
                <div class="col-sm-7">
                    <h1 class="titulo">Ajustes</h1>


                </div>
                <div class="col-sm-5 selector">




                    <div class="image-upload">

                        <img src="assets\ejemplo\ejemplo.jpg">


                    </div>
                    <hr>
                    <h1>{{nombre}}</h1>



                </div>
            </div>

            <hr>

            <br>
            <h3>Tu nombre de usuario es:</h3>

            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="usuario.nombre" disabled>
            <br>
            <h4>Este es tu correo </h4>

            <input type="email" class="form-control" id="exampleInputEmail12" [(ngModel)]="usuario.correo" disabled>

            <hr>
            
            <form [formGroup]="myForm" (ngSubmit)="submit()">
     
            
                     
                <div class="form-group">
                    <h2>Cambia tu foto</h2>
                    <br>
                    <input
                        formControlName="file"
                        id="file"
                        type="file"
                        class="form-control"
                        (change)="onFileChange($event)">
                    <div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
                        <div *ngIf="f['file'].errors && f['file'].errors['required']">Necesitas poner una imagen.</div>
                    </div>
                </div>
                         
                <button class="btn btn-xxl rounded-pill mt-5"  style=" background-color:{{colorBotonFondo}}; color: {{colorBotonLetra}};" [disabled]="myForm.invalid" type="submit">Cambiar</button>
            </form>

            <hr>


            <h2>Cambia tu contresaña</h2>
            <br>


            <h4>¿Cuál era tu contresaña?</h4>

            <input type="password" class="form-control" id="contrasenna1" [(ngModel)]="usuario.contrasennaAntigua"
                placeholder="Escribe tu contraseña">

            <br>

            <h4>¿Cuál es tu nueva contresaña?</h4>

            <input type="password" class="form-control" id="contrasenna2" [(ngModel)]="usuario.contrasennaConfirmacion1"
                placeholder="Escribe tu nueva contraseña">
            <small id="passwordHelpInline" class="text-muted">
                La contraseña por lo menos tiene que tener 5 caracteres ,una letra mayuscula , una minuscula y un signo
                especial. Un ejemplo: Sinestesia1!
            </small>
            <br>

            <h4>Repite tu nueva contresaña</h4>

            <input type="password" class="form-control" id="contrasenna3" [(ngModel)]="usuario.contrasennaConfirmacion"
                placeholder="Escribe tu nueva contraseña">


            <button (click)="cambiarContrasenna()" class="btn btn-xxl rounded-pill mt-5"
                style=" background-color:{{colorBotonFondo}}; color: {{colorBotonLetra}};">
                <h1>Cambiar contraseña</h1>
            </button>
            <hr>
            <h2>Personalización</h2>

            <h4>Elije color de fondo</h4>

            <select (change)="seleccionarFondo($event)" class="form-select selector"
                aria-label="Default select example">
                <option value="">Elije tu color</option>
                <option *ngFor="let color of coloresSelecionables" value="{{color.id}}">{{color.colorE}} </option>
            </select>

            <br>

            <h4>Elije color de letra</h4>

            <select (change)="seleccionarLetra($event)" class="form-select selector"
                aria-label="Default select example">
                <option value="">Elije tu color</option>
                <option *ngFor="let color of coloresSelecionables" value="{{color.id}}">{{color.colorE}} </option>
            </select>

            <br>

            <br>

            <h4>Elije color de letra</h4>

            <select (change)="seleccionarLetra($event)" class="form-select selector"
                aria-label="Default select example">
                <option value="">Elije tu color</option>
                <option *ngFor="let color of coloresSelecionables" value="{{color.id}}">{{color.colorE}} </option>
            </select>

            <br>


            <button class="btn btn-xxl rounded-pill mt-5"
                style=" background-color:{{colorBotonFondo}}; color: {{colorBotonLetra}};">
                <h1>Guardar Colores</h1>
            </button>

        </div>
    </div>
</div>